/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0d0f12;
  color: white;
  cursor: pointer;
  padding: 24px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid rgb(161, 160, 160);
  font-size: 1.1em;
}

.accordion:nth-of-type(1){
  border-top: 1px solid rgb(161, 160, 160);
}

.accordion:focus{
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  filter: invert(100%);
}

/* Style the accordion panel. Note: hidden by default */
.panel {

  background: transparent;
  max-height: 0;
  width: 100%;
  
  transition: max-height 0.2s ease-out;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-word;
  padding: 0px 24px;
  font-size: 14px;
  color: white;
  height: fit-content;

}
.accordion:after {

  content: url('../imgs/expand.png'); /* Unicode character for "plus" sign (+) */
  filter: invert(100%);
  font-size: 13px;
 
  float: right;
  margin-left: 5px;

}

.active:after {
 content: url('../imgs/collapse.png'); /* Unicode character for "minus" sign (-) */

 
}

.panel a{
  margin-bottom: 15px;
  color: #e43603;
}

video{
  object-fit: auto;
}