/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0;
  width: 90%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border: none;
  border-bottom: 1px solid rgba(48, 83, 151, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: url("../imgs/accordion-down.png");
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url("../imgs/2.png");
  font-size: 2px;
}
