*{
  margin: 0;
  padding: 0;
} 

 html {
  scroll-behavior: smooth;
} 

body{
  background-color: #0d0f12;
}


div.all-content{
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;  
 
  
}

.us{
  color: #F05A28;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  height: 200px;
  background: #0d0f12;
  color: white;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border: none;
}

.card-body:hover{
  cursor: default;
}

 main#main-content{
  grid-column: 2/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.45fr 0.3fr auto;
  background-color: #0d0f12;
}

input#search{
  width:60%;
  grid-column: 1/4;
  margin: auto;
  margin-top: 50px;
  padding: 10px 10px;
  text-align: start;
  font-weight: bold;
}

input#search:focus{
  outline: none;
  font-weight: bold;
}


section.welcome-section.first-section{
  grid-column: 1/4;
  grid-row: 1/3 ;
  height: 1000px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../imgs/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-left: 50px;
}


section#course-section {
  grid-column: 1/4;
  grid-row: 4;
  width: 80%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 35px 35px;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  
}

#wrapper{
  height: 100%;
  grid-column: 1/4;
  width: 100%;
  background-color: #0d0f12;
  margin: auto;
  text-align: center;
}


.your-courses{
  grid-row: 1;
  grid-column: 1/6  ;
  margin: auto;
  /* padding-top: 25px; */
  padding-bottom: 25px;
  color: hsla(0,0%,100%,.95);
}

div.card {
  /* border: 1px solid rgb(88, 88, 88); */

  transition: box-shadow .3s;
  outline: none;
  width: 100%;
  border: 1px solid white;
  max-height: 500px;
  margin: auto;
  text-align: center;
  box-sizing: content-box;
  
}

div.card:hover{
  border: none;
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.6); 
}


.card-img-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  border: none;
  /* border-bottom: 1px solid gray; */
}

/* BUtoane */
.btn-hover {
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* padding: 0;
  height: 80px!important; */
  padding: 10px 10px!important;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* a.btn-primary{
  border:none;  
} */

.btn-hover:hover {
  color: white;
  text-decoration: none ;
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.no-criteria-p{
  margin: auto;
  width: 100%;
  grid-column: 1/6;
  color: white;
  font-size: 24px;
}

.btn-hover.color-2 {
  padding: 0;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* butoane */

.user-name-log{
  color: gray;
}



div.add-content-div{
  grid-column: 1/4;
  grid-row: 3;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0f12;

 
}

#search-clear-form{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .search-input{
  width: 84%;
  padding: 10px;
  
  outline: none;
  border: 1px solid black;
  font-weight: bold;
  margin-right: 10px;
} */

/* input.search-btns{
  height: 46px;
  font-size: 18px;
  border: 1px solid white;
  width: fit-content;
  padding: 0px 20px;
  margin: 0px 10px;
  background: #111;
  color: white;
  font-weight: 400;
  letter-spacing: 0.2px;
} */

/* input.search-btns:hover{
  color: #111;
  background: white;
} */

a.start-learn-btn {
  background-image: linear-gradient(to right,#F05A28,#EC008C, #F05A28);
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  border-radius: 4px;
}

a.start-learn-btn:hover {
  transition: all 0.6s;
  text-decoration: none;
}

.welcome-section a, .welcome-section p{
  padding: 20px 10px;
  font-size: 1.4rem;
}




/* FOR JS CLASSES */

/* .transition{
  transition: width 4s;
} */
