* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  font-style: normal;
}

body {
  background-color: #0d0f12;
  font-family: "Montserrat";
  font-style: normal;
  /* cursor: url('../imgs/cursor.png'), auto; */
}

div.all-content {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15% 42.5% 42.5%;
  width: 100%;
  height: 100%;
}

.us {
  text-transform: uppercase;
  font-weight: 900;
}

.card-body:hover {
  cursor: default;
}

main#main-content {
  grid-column: 2/4;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  background-color: white;
}

input#search {
  text-align: center;
  height: 60px;
  text-align: start;
  font-weight: bold;
  width: 100%;
  /* margin: 24px;
  margin-top: 0px;
  margin-bottom: 0px; */
  padding: 16px 24px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  margin-left: 24px;
  margin-right: 24px;
  color: black;
}

input#search:focus {
  outline: none;
  font-weight: bold;
  max-height: 200px;
  border: 1px solid black;
}

#mySidebar {
  grid-column: 1;
}

section.welcome-section.first-section {
  grid-column: 1/4;
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(270deg, rgba(48, 83, 151, 0) 0%, #305397 100%),
    url("../imgs/background2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 90% 215%;
  height: 100%;
  color: white;
  padding-left: 24px;
  padding-top: 24px;
}

.welcome-section h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
}

section#course-section {
  box-sizing: border-box;
  grid-column: 1/4;
  grid-row: 4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 48px;
  padding: 24px;
  padding-top: 0;

  /* padding-right: 24px; */
  /* margin-right: 24px; */
}

div.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  outline: none;
  border: none;
}

#wrapper {
  height: fit-content;
  grid-column: 1/4;
  width: 100%;
  background-color: white;
  margin: auto;
  text-align: center;
  margin-top: 24px;
}

.your-courses {
  grid-row: 1;
  grid-column: 1/6;
  margin: auto;
  /* padding-top: 25px; */
  padding-bottom: 25px;
  color: hsla(0, 0%, 100%, 0.95);
}

.no-criteria-p {
  margin: auto;
  width: 100%;
  grid-column: 1/6;
  color: black;
  font-size: 24px;
}

/* butoane */

.user-name-log {
  color: gray;
}

div.add-content-div {
  grid-column: 1/4;
  grid-row: 3;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0f12;
}

.search-form {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  grid-column: 1/4;
  /* margin-bottom: 48px;
  margin-top: 48px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 48px;
  margin-left: 24px;
  margin-right: 24px;   */
}

form.search-form {
  margin-top: 24px;
  box-sizing: content-box;
}

a.start-learn-btn {
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  border-radius: 4px;
}

a.start-learn-btn:hover {
  transition: all 0.6s;
  text-decoration: none;
}

.welcome-section a,
.welcome-section p {
  padding: 20px 0px;
  font-size: 1.4rem;
}
