

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*{
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
    
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.courses::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }

  
  
  .courses::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   
      background-color: #F5F5F5;
  }
  
  .courses::-webkit-scrollbar-thumb {
    
    border-radius: 2px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #111;
  }

  .courses::-webkit-scrollbar-thumb:hover {
      background-color: rgb(54, 54, 54);
      transition: background-color 0.4s;
  }



main.main-content{

    width: 100%;
    height: 100%;
    overflow: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto; */
  
    /* max-height: fit-content; */
}

.course-video{
    padding: 0;
    margin: 0;
}

.play-btn{

    width: fit-content;
    padding: 10px 30px;  
    border: 1px solid black;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #e43603;
    background: transparent;
    border: 1px solid white;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 0px;
}

.play-btn:hover{
    outline: none;
    color: black;
    background: white;
    border: 1px solid white;
    transition: all 0.5s;
}

div.panel p{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

main.main-content h4{
    color: white;
    padding: 10px 0px;
    text-align: center;
    color: #e43603;
    font-weight: bold;
   
}

.delete-course-btn{
    border: 1px solid lightgray;
 
    width: 80%;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: white;
    font-weight: inherit;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
.delete-course-btn:hover{
    color: black;
    background: white;
    border: 1px solid transparent;
  
  }

  .sidebar form{
      font-family: inherit;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

div.no-subjects{
    display: flex;
    justify-content: center;
    align-items: center;
   color: #e43603;
    text-align: center;
}

.courses{
    width: 25%;
    height: 100%;
    margin-left: 75%;
    background-color: #0d0f12;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    max-height: fit-content;
    overflow: auto;
    z-index: 9999;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}

.video-duration{
    color: white;
}