.modal{
    position: absolute;
    width: 40%;
    height: 60%;
    margin: auto;
    left: 30%;
    z-index: 9999;
    background: transparent;
    color: black;
    font-size: 36px;
    padding: 20px 10px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.closebtn{
    position: absolute;
    top: 0;
    left: 96%;
    text-decoration: none;
    color: black;
}