@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
  font-style: normal;
  background: rgba(48, 83, 151, 0.75);
  height: 100vh;
}

body {
  background: rgba(48, 83, 151, 0.75);
  font-family: "Montserrat";
  font-style: normal;
  height: 100vh;
}
